body
{
  font-family: Arial, Helvetica, sans-serif;
  background-image:
  linear-gradient(to right, #0a0f29,#1e2d7b);
  width: 90%;
  margin: 0 auto;
}
header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    border-radius: 5px;
    margin-top: 10px;
}
.logo img
{
    width: 45%;
    padding-top: 50px;
}

.navegacao
{
    overflow: hidden;

}

.navegacao a
{
  float:right;
  display: block;
  color: #adb7eb;
  text-decoration: none;
  text-align: right;
  padding:10px 10px;
}
.navegacao a:hover
{
  color: #eb1c25;
  background-color: black;
}

.conteudo
{
    float:left;
    margin: 15px 2px 25px 2px;
    background-color: #d6dbf5;
    width: 30.5%;
    text-align: justify;
    padding: 15px;
    border-radius: 5px;
    box-shadow:  1px 1px 20px white;

  }
.rodape
{
  color :darkgray;
  font-size: 10px;
  text-align: center;
  padding: 20px;


}

@media screen and (max-width:800px)
{
  .principal, .conteudo
   {
      width: 100%;
      padding: 0;
   }
}